.ViewPage {
  width: 700px;
  text-align: left;
  margin: auto;
}

.ViewPage__title {
  font-weight: 500;
  font-size: 2.5em;
  margin-top: 10px;
}

.ViewPage__image {
  width: 100%;
}

.ViewPage__content {
  line-height: 1.4;
}
